In [10]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import datetime

In [11]:
df = pd.read_csv('../Resources/Beach_Lab_Data.csv')

In [12]:
df.sort_values('DNA Sample Timestamp',ascending=False)

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp,Latitude,Longitude,Location
7772,5898.0,09/04/2017 12:00:00 AM,57th Street,234.0,389.0,301.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.7911,-87.5797,"(41.7911, -87.5797)"
18404,5903.0,09/04/2017 12:00:00 AM,Foster,6.0,105.0,25.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.9785,-87.6515,"(41.9785, -87.6515)"
9829,5896.0,09/04/2017 12:00:00 AM,Calumet,129.0,143.0,135.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.7142,-87.5299,"(41.7142, -87.5299)"
7506,5911.0,09/04/2017 12:00:00 AM,Osterman,36.0,193.0,83.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.9877,-87.6545,"(41.9877, -87.6545)"
9234,5912.0,09/04/2017 12:00:00 AM,Leone,111.0,118.0,114.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0131,-87.6635,"(42.0131, -87.6635)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24278,NaN,NaN,Juneway,NaN,NaN,NaN,108062.0,08/19/2013 12:00:00 AM,2.0,1.0,1.4,NaN,NaN,NaN,42.0224,-87.6674,"(42.0224, -87.6674)"
24280,NaN,NaN,Leone,NaN,NaN,NaN,109868.0,07/31/2014 12:00:00 AM,25.0,18.0,21.2,NaN,NaN,NaN,42.0131,-87.6635,"(42.0131, -87.6635)"
24281,NaN,NaN,Howard,NaN,NaN,NaN,113525.0,07/26/2016 09:00:00 AM,30.0,36.0,32.9,NaN,1.0,07/26/2016 09:01:00 AM,42.0188,-87.6663,"(42.0188, -87.6663)"
24283,NaN,NaN,Howard,NaN,NaN,NaN,112193.0,05/24/2012 12:00:00 AM,10.8,8.6,9.6,NaN,NaN,NaN,42.0188,-87.6663,"(42.0188, -87.6663)"
24284,NaN,NaN,Rainbow,NaN,NaN,NaN,112347.0,06/16/2014 12:00:00 AM,25.0,12.0,17.3,NaN,NaN,NaN,41.7580,-87.5510,"(41.758, -87.551)"

In [13]:
df['Beach'].value_counts()

Calumet                           1276
Montrose                          1249
63rd Street                       1233
Rainbow                           1229
South Shore                       1216
Ohio Street                       1215
12th Street                       1210
North Avenue                      1189
57th Street                       1189
Osterman                          1182
Foster                            1177
Oak Street                        1162
Howard                            1094
Rogers                            1077
Leone                              954
Oakwood                            950
Margaret T Burroughs               833
Hartigan                           794
Juneway                            789
Marion Mahony Griffin              728
Montrose Dog                       440
Margaret T Burroughs (31st)        430
Hartigan (Albion)                  364
Marion Mahony Griffin (Jarvis)     361
Humboldt                           354
Lane                               287
North Shore                        287
Columbia                           286
Loyola                             251
Fargo                               98
Name: Beach, dtype: int64

In [16]:
only_ohio = df.loc[df["Beach"] == "Ohio Street", :]

In [17]:
only_ohio

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp,Latitude,Longitude,Location
8,10603.0,06/03/2019 12:09:00 PM,Ohio Street,32.0,3.0,9.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
40,10671.0,06/04/2019 12:13:00 PM,Ohio Street,590.0,122.0,268.3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
56,13796.0,07/08/0020 12:00:00 AM,Ohio Street,58.0,169.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
66,13784.0,07/06/2020 12:52:00 PM,Ohio Street,58.0,169.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
97,10710.0,06/05/2019 12:06:00 PM,Ohio Street,15.0,1610.0,155.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25205,15284.0,07/20/2021 11:30:00 AM,Ohio Street,152.0,NaN,152.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
25219,15355.0,07/21/2021 11:34:00 AM,Ohio Street,411.0,NaN,411.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
25230,15359.0,07/22/2021 11:06:00 AM,Ohio Street,258.0,NaN,258.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
25253,15394.0,07/23/2021 12:47:00 PM,Ohio Street,143.0,NaN,143.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"
25268,15391.0,07/24/2021 11:15:00 AM,Ohio Street,111.0,NaN,111.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8935,-87.6152,"(41.8935, -87.6152)"

In [18]:
only_ohio_clean = only_ohio[only_ohio['DNA Reading Mean'].notna()]

In [19]:
only_ohio_clean = only_ohio_clean.drop(columns=['Culture Test ID','Culture Sample 1 Timestamp','Culture Sample 1 Reading','Culture Sample 2 Reading','Culture Reading Mean','Culture Note','Culture Sample Interval','Culture Sample 2 Timestamp'])

In [22]:
only_ohio_clean['Date'] = pd.to_datetime(only_ohio_clean['DNA Sample Timestamp'], errors = 'coerce')

In [23]:
only_ohio_clean['Sample_Date'] = pd.to_datetime(only_ohio_clean['Date']).dt.to_period('D')

In [26]:
only_ohio_clean = only_ohio_clean[only_ohio_clean['Sample_Date'].notna()]

In [27]:
only_ohio_clean.sort_values('Sample_Date',ascending=False)

,DNA Test ID,DNA Sample Timestamp,Beach,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude,Location,Date,Sample_Date
25268,15391.0,07/24/2021 11:15:00 AM,Ohio Street,111.0,NaN,111.0,41.8935,-87.6152,"(41.8935, -87.6152)",2021-07-24 11:15:00,2021-07-24
25253,15394.0,07/23/2021 12:47:00 PM,Ohio Street,143.0,NaN,143.0,41.8935,-87.6152,"(41.8935, -87.6152)",2021-07-23 12:47:00,2021-07-23
25230,15359.0,07/22/2021 11:06:00 AM,Ohio Street,258.0,NaN,258.0,41.8935,-87.6152,"(41.8935, -87.6152)",2021-07-22 11:06:00,2021-07-22
25219,15355.0,07/21/2021 11:34:00 AM,Ohio Street,411.0,NaN,411.0,41.8935,-87.6152,"(41.8935, -87.6152)",2021-07-21 11:34:00,2021-07-21
25205,15284.0,07/20/2021 11:30:00 AM,Ohio Street,152.0,NaN,152.0,41.8935,-87.6152,"(41.8935, -87.6152)",2021-07-20 11:30:00,2021-07-20
...,...,...,...,...,...,...,...,...,...,...,...
16544,628.0,06/04/2016 12:57:00 PM,Ohio Street,2544.0,1311.0,1826.2,41.8935,-87.6152,"(41.8935, -87.6152)",2016-06-04 12:57:00,2016-06-04
15642,623.0,06/03/2016 11:40:00 AM,Ohio Street,196.0,267.0,228.8,41.8935,-87.6152,"(41.8935, -87.6152)",2016-06-03 11:40:00,2016-06-03
23444,603.0,06/02/2016 12:14:00 PM,Ohio Street,460.0,8.0,60.7,41.8935,-87.6152,"(41.8935, -87.6152)",2016-06-02 12:14:00,2016-06-02
21342,543.0,06/01/2016 12:49:00 PM,Ohio Street,74.0,31.0,47.9,41.8935,-87.6152,"(41.8935, -87.6152)",2016-06-01 12:49:00,2016-06-01
18770,502.0,05/26/2016 12:00:00 AM,Ohio Street,58.0,279.0,127.2,41.8935,-87.6152,"(41.8935, -87.6152)",2016-05-26 00:00:00,2016-05-26

In [28]:
only_ohio_clean.groupby('Sample_Date').mean()

,DNA Test ID,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude
Sample_Date,,,,,,
2016-05-26,502.0,58.0,279.0,127.2,41.8935,-87.6152
2016-06-01,543.0,74.0,31.0,47.9,41.8935,-87.6152
2016-06-02,603.0,460.0,8.0,60.7,41.8935,-87.6152
2016-06-03,623.0,196.0,267.0,228.8,41.8935,-87.6152
2016-06-04,628.0,2544.0,1311.0,1826.2,41.8935,-87.6152
...,...,...,...,...,...,...
2021-07-20,15284.0,152.0,NaN,152.0,41.8935,-87.6152
2021-07-21,15355.0,411.0,NaN,411.0,41.8935,-87.6152
2021-07-22,15359.0,258.0,NaN,258.0,41.8935,-87.6152
2021-07-23,15394.0,143.0,NaN,143.0,41.8935,-87.6152
2021-07-24,15391.0,111.0,NaN,111.0,41.8935,-87.6152

In [10]:
water_quality = pd.read_csv('../Resources/Beach_Water_Quality.csv')
water_quality.head()

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
0,Calumet Beach,04/07/2018 12:30:00 AM,21.7,3.15,NaN,0.389,3.0,0.0,04/07/2018 12:30 AM,CalumetBeach201804072430
1,Ohio Street Beach,06/14/2019 07:00:00 PM,16.0,2.18,NaN,0.137,3.0,11.8,06/14/2019 7:00 PM,OhioStreetBeach201906141900
2,Ohio Street Beach,05/16/2018 01:00:00 PM,21.7,1.92,NaN,0.023,1.0,10.3,05/16/2018 1:00 PM,OhioStreetBeach201805161300
3,Ohio Street Beach,05/16/2018 02:00:00 PM,21.9,1.81,NaN,0.026,6.0,10.3,05/16/2018 2:00 PM,OhioStreetBeach201805161400
4,Ohio Street Beach,06/04/2018 09:00:00 AM,23.0,0.03,NaN,0.021,8.0,12.4,06/04/2018 9:00 AM,OhioStreetBeach201806040900

In [12]:
water_only_ohio = water_quality.loc[water_quality["Beach Name"] == "Ohio Street Beach", :]
water_only_ohio

,Beach Name,Measurement Timestamp,Water Temperature,Turbidity,Transducer Depth,Wave Height,Wave Period,Battery Life,Measurement Timestamp Label,Measurement ID
1,Ohio Street Beach,06/14/2019 07:00:00 PM,16.0,2.18,NaN,0.137,3.0,11.8,06/14/2019 7:00 PM,OhioStreetBeach201906141900
2,Ohio Street Beach,05/16/2018 01:00:00 PM,21.7,1.92,NaN,0.023,1.0,10.3,05/16/2018 1:00 PM,OhioStreetBeach201805161300
3,Ohio Street Beach,05/16/2018 02:00:00 PM,21.9,1.81,NaN,0.026,6.0,10.3,05/16/2018 2:00 PM,OhioStreetBeach201805161400
4,Ohio Street Beach,06/04/2018 09:00:00 AM,23.0,0.03,NaN,0.021,8.0,12.4,06/04/2018 9:00 AM,OhioStreetBeach201806040900
5,Ohio Street Beach,06/04/2018 10:00:00 AM,17.6,3.09,NaN,0.159,4.0,12.6,06/04/2018 10:00 AM,OhioStreetBeach201806041000
...,...,...,...,...,...,...,...,...,...,...
40307,Ohio Street Beach,07/16/2021 03:00:00 AM,21.9,1.20,NaN,0.188,3.0,11.0,07/16/2021 3:00 AM,OhioStreetBeach202107160300
40308,Ohio Street Beach,07/16/2021 05:00:00 AM,21.8,1.13,NaN,0.217,3.0,11.0,07/16/2021 5:00 AM,OhioStreetBeach202107160500
40309,Ohio Street Beach,07/16/2021 07:00:00 AM,21.8,1.24,NaN,0.202,3.0,11.0,07/16/2021 7:00 AM,OhioStreetBeach202107160700
40310,Ohio Street Beach,07/16/2021 09:00:00 AM,21.7,1.45,NaN,0.211,3.0,11.0,07/16/2021 9:00 AM,OhioStreetBeach202107160900
40311,Ohio Street Beach,07/16/2021 12:00:00 PM,21.8,1.81,NaN,0.243,3.0,11.0,07/16/2021 12:00 PM,OhioStreetBeach202107161200

In [13]:
cleaned_quality = water_only_ohio.drop(columns=["Turbidity","Transducer Depth", "Wave Height","Wave Period","Battery Life", "Measurement Timestamp Label"])

In [14]:
cleaned_quality = cleaned_quality[cleaned_quality['Water Temperature'].notna()]

In [17]:
cleaned_quality['Sample_Date'] = pd.to_datetime(cleaned_quality['Measurement Timestamp']).dt.to_period('D')
cleaned_quality

,Beach Name,Measurement Timestamp,Water Temperature,Measurement ID,Sample_Month_Year,Sample_Date
1,Ohio Street Beach,06/14/2019 07:00:00 PM,16.0,OhioStreetBeach201906141900,2019-06-14,2019-06-14
2,Ohio Street Beach,05/16/2018 01:00:00 PM,21.7,OhioStreetBeach201805161300,2018-05-16,2018-05-16
3,Ohio Street Beach,05/16/2018 02:00:00 PM,21.9,OhioStreetBeach201805161400,2018-05-16,2018-05-16
4,Ohio Street Beach,06/04/2018 09:00:00 AM,23.0,OhioStreetBeach201806040900,2018-06-04,2018-06-04
5,Ohio Street Beach,06/04/2018 10:00:00 AM,17.6,OhioStreetBeach201806041000,2018-06-04,2018-06-04
...,...,...,...,...,...,...
40307,Ohio Street Beach,07/16/2021 03:00:00 AM,21.9,OhioStreetBeach202107160300,2021-07-16,2021-07-16
40308,Ohio Street Beach,07/16/2021 05:00:00 AM,21.8,OhioStreetBeach202107160500,2021-07-16,2021-07-16
40309,Ohio Street Beach,07/16/2021 07:00:00 AM,21.8,OhioStreetBeach202107160700,2021-07-16,2021-07-16
40310,Ohio Street Beach,07/16/2021 09:00:00 AM,21.7,OhioStreetBeach202107160900,2021-07-16,2021-07-16
40311,Ohio Street Beach,07/16/2021 12:00:00 PM,21.8,OhioStreetBeach202107161200,2021-07-16,2021-07-16

In [19]:
cleaned_quality.groupby('Sample_Date').mean()

             Water Temperature
Sample_Date
2013-09-03           21.900000
2014-06-05           16.900000
2014-06-06           18.587500
2014-06-07           17.412500
2014-06-08           16.658333
...                        ...
2021-07-13           21.486957
2021-07-14           21.775000
2021-07-15           21.979167
2021-07-16           21.855556
2021-07-27           24.677778

[666 rows x 1 columns]